<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class= "container text-center">
<br>
<h1>About</h1>
<p>This password generator was created by Bryan Greig.
<br>
It is made with Python and is his first Django project.
<br>
It's fairly simple but it's a start!
It has shown how to connect:
<br>
<ul>
  <li>views</li>
  <li>urls</li>
  <li>html</li>
  <li>bootstrap</li>
</ul></p>
<a class="btn btn-warning" href="{% url "home" %}">Home</a>
</div>
